h1 {
  color: Silver;
  background-color: Gray;
  border: 1px solid black;
  text-shadow: 4px 4px 5px Black;
  text-align: center;
  font-size: 40px;
  font-family:"Impact";
}
h5 {
  font-size: 17px;
  text-decoration: underline;
}

Body {
  
}

p {
  font-family:"Impact";
  font-size: 15px;
}
a{ font-family: "Impact";}
